/* line 1, ../sass/768.scss */
.outline-inventory {
  -webkit-column-count: 4; }

/* line 13, ../sass/768.scss */
.global-nav {
  top: -70px; }

/* line 25, ../sass/768.scss */
.global-nav-flyout {
  top: -70px; }

/* line 38, ../sass/768.scss */
.bb-content-holder.has-menu .content,
.bb-content-holder.has-menu .outline,
.bb-outline-holder.has-menu .content,
.bb-outline-holder.has-menu .outline {
  margin-left: 220px;
  -webkit-transition: margin-left .2s ease-in-out;
  -moz-transition: margin-left .2s ease-in-out;
  transition: margin-left .2s ease-in-out; }
